.TokenDisplay {
  &__search-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
    padding: 0.25rem 0.5rem;
    &:hover {
      background: darkgrey;
      color: white;
      span {
        color: white;
      }
    }
  }
  &__clear-btn {
    border-radius: 50%;
    border: none;
    background: lightgrey;
    color: white;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background: darkgrey;
    }
  }
  &__loading {
    width: min-content;
    animation: spin 1s infinite forwards;
  }
  &__money-bar {
    height: 1rem;
    width: 100%;
    background: linear-gradient(to right, orange, yellow, lightgreen);
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
  }
  &__filled-bar {
    background: lightgrey;
    height: 100%;
    right: 0;
    position: absolute;
  }
  &__minmax-price {
    font-size: 0.75rem;
  }
  &__modal {
    padding: 1rem;
    background-color: white;
    margin: 1rem;
    border-radius: 0.5rem;
  }
  h1 {
    span {
      font-size: 0.75rem;
    }
  }
  h2 {
    span {
      font-size: 0.5rem;
    }
  }
  a {
    font-size: 0.65rem;
    color: rgb(88, 153, 175);
    text-decoration: none;
    &:hover {
      color: skyblue;
    }
  }
}

@keyframes spin {
  to {
    transform: rotate(0);
  }
  from {
    transform: rotate(-360deg);
  }
}
