.NodeTotals {
  h5 {
    color: grey;
  }
  &__hr {
    height: 1px;
    background: lightgrey;
    border-radius: 0.25rem;
  }
  &__label {
    font-size: 0.75rem;
    color: grey;
    &--header {
      font-weight: bold;
      color: black;
      &:last-of-type {
        text-align: right;
      }
    }
  }
  &__total {
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 1.5rem;
  }
}

.NodeItem {
  &__img {
    max-height: 2rem;
  }
  &__name {
    font-weight: bold;
    font-size: 1.25rem;
  }
  &__symbol {
    text-transform: uppercase;
    font-size: 0.65rem;
    color: grey;
  }
  &__input {
    border: 1px solid lightgrey;
    border-radius: 0.25rem;
    padding: 0.35rem;
    font-size: 1rem;
  }
  &__earnings {
    font-weight: bold;
    text-align: right;
  }
  &__btn {
    border: none;
    background: transparent;
    display: inline-block;
    align-self: flex-end;
    font-size: 0.75rem;
    padding: 0;
    cursor: pointer;
    &--remove {
      color: red;
      &:hover {
        color: darkred;
      }
    }
  }
}
