.Header {
  background: white;
  box-shadow: 0 3px 3px rgba(black, 0.25);
  padding: 0.5rem;
  span {
    font-weight: bold;
  }
  .mobile-text {
    font-size: 3vw;
  }
  &__totals-modal {
    background: white;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}
