.Footer {
  padding: 0.25rem 0.5rem;
  box-shadow: 0 -3px 3px rgba(black, 0.25);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: white;
  span {
    font-size: 0.5rem;
    text-transform: uppercase;
  }
  img {
    height: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid transparent;
    &:hover {
      border-color: lightgreen;
    }
  }
  a {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
}

.YoutubeLogo {
  height: 2.5rem;
  width: auto;
}
