.NodeContainer {
  flex-grow: 1;
  padding: 1rem;
  margin: 0.5rem;
  background: white;
  border-radius: 0.5rem;
  &__header {
    border-bottom: 1px solid lightgray;
    padding-bottom: 0.5rem;
  }
  &__wrapper {
    margin: 0 auto;
    padding: 1rem;
  }
  &__btn {
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background: transparent;
    color: orangered;
    cursor: pointer;
    &:hover {
      background: orangered;
      color: white;
    }
    &--copy {
      color: lightskyblue;
      &:hover {
        background: skyblue;
        color: white;
      }
    }
    &--handle {
      color: grey;
      cursor: grab;
      &:hover {
        background: grey;
        color: white;
      }
    }
  }
  &__settings-modal {
    background: white;
    padding: 1rem;
    border-radius: 0.5rem;
  }
}
