:root {
  --app-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: lightgrey;
}

.App {
  height: 100vh;
  height: var(--app-height);
  &__wrapper {
    display: flex;
    gap: 0.5rem;
    &--columns {
      flex-direction: column;
    }
  }
  &__droppable {
    display: flex;
    &--columns {
      flex-direction: column;
    }
  }
  &__draggable {
    width: 100%;
    @media screen and (min-width: 550px) {
      min-width: 500px;
    }
  }
}
