h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  background: lightgrey;
  padding: 1rem;
  min-height: 100vh;
  @media screen and (max-width: 900px) {
    padding: 0;
  }
}

.App {
  display: flex;
  gap: 0.5rem;
  &--columns {
    flex-direction: column;
  }
  &__droppable {
    display: flex;
    &--columns {
      flex-direction: column;
    }
  }
  &__draggable {
    width: 100%;
    min-width: 400px;
  }
}
